html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family1;
    font-size: 18px;    
    line-height: 30px;  
    
}

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 15px;
}

.container--relative {
    position: relative;
}

.lock {
    overflow: hidden;
}

