html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family1;
    font-size: 18px;    
    line-height: 30px;  
    
}

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 15px;
}

.container--relative {
    position: relative;
}

.lock {
    overflow: hidden;
}

.slick-arrow {
    position: absolute;
    z-index: 4;
    width: 62px;
    height: 62px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/documentation/arrow-right.svg);
}

.slick-prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/documentation/arrow-left.svg);
}