$container: 1338px;
$font-family1: 'Mulish', sans-serif;
// $font-family2: 

$black: #1B1B1B;
$black1: #000;
$green: #85BF2D;
$grey: #6B6B6B;
$orange: #D87D1A;

%title-style {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.1px;
}