@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


// === header ===

.header {
    position: relative;

    &__top {
        padding-top: 27px;
        padding-bottom: 20px;
        background-color: #fff;
    }

    &__top-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__top-logobox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 353px;
    }

    &__top-logotext {
        font-size: 14px;
        line-height: 18px;
        max-width: 156px;
    }

    &__top-wrapper {
        width: 825px;
    }

    &__top-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__top-socials {
        width: 80px;
        display: flex;
        justify-content: space-between;
    }

    &__top-email, &__top-phone {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    &__top-email {
        color: $black1; 
    }

    &__top-phone {
        color: $black;
        font-weight: 800;
    }

    &__top-emailimg, &__top-phoneimg {
        margin-right: 8px;
    }

    &__top-btn {
        padding: 18px 40px;
        background-color: $green;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        border-radius: 30px;
        transition: all .2s;

        &:hover {
            background-color: #416E1C;
            // cursor: url(../images/cursor.svg), pointer;
        }
    }

    &__bottom {
        position: absolute; 
        left: 0;
        right: 0;   
        margin: 0 auto;
        background-color: rgba($color: $green, $alpha: .6);
        width: 1344px;
        margin: 0 auto;
        padding-top: 37px;  
        border-radius: 0px 0px 0px 35px;
    }
}

.menu {
    max-width: 1300px;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list-link {
        position: relative;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        color: #fff;
        padding-bottom: 33px;
        border-bottom: 4px solid transparent;
        display: inline-block;

        // &::after {
        //     content: '';
        //     position: absolute;
        //     width: 113px;
        //     height: 4px;
        //     background-color: #fff;
        //     bottom: 0; 
        //     right: 0;
        // }

        &:hover {
            border-bottom: 4px solid #fff;
        }
    }
}

// === /header ===



// === hero ===

.hero {
    padding-top: 235px;
    padding-bottom: 193px;
    background-image: url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    &__box {
        width: 465px;
        color: #fff;
    }

    &__title {
        font-weight: 800;   
        font-size: 45px;
        line-height: 45px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        margin-bottom: 31px;
    }

    &__text {
        line-height: 25px;
        letter-spacing: 0.5px;
        margin-bottom: 31px;
    }

    &__btn {
        display: inline-block;
        padding: 15px 38px;
        background-color: $green;
        border-radius: 30px;
        color: #fff;
        font-weight: 700;
        transition: all .2s;

        &:hover {
            background-color: #416E1C; 
        }
    }
}

// === /hero ===



// === about ===

.about {
    padding-top: 86px;
    padding-bottom: 92px;
    position: relative;

    &__img--absolute  {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__img-box {
        margin-right: 30px;
    }

    &__text-box {
        max-width: 718px;
    }

    &__title {
        @extend %title-style;
        font-weight: 800;
        margin-bottom: 55px;
        background-color: #fff;
        padding: 30px 80px;
        display: inline-block;
        box-shadow: 25px 0px 35px #F3F3F3;
        border-radius: 0px 0px 35px 0px;
    }

    &__text {
        letter-spacing: 0.1px;
        margin-bottom: 30px;
    }

    &__text--last {
        margin-bottom: 5px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;   
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: (linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
            background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        }
    }

    &__text--green {
        color: $green;
        font-weight: 800;
    }

    &__link {
        display: flex;
        color: $green;
        font-weight: 800;

        &:hover {
            text-decoration: underline;
        }
    }

    &__link-img {
        margin-left: 10px;
    }
}

// === /about ===



// === structure ===

.structure {
    padding-top: 50px;

    &__title {
        position: absolute; 
        top: -50px;
        right: 15px;
        @extend %title-style;
        padding: 27px 0 39px 87px;
        width: 963px;
        // padding: auto;
        background: #FFFFFF;
        box-shadow: 0px -20px 35px #F3F3F3;
        border-radius: 0px 0px 0px 35px;
    }

    &__items {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__item {
        padding: 93px 56px 159px 71px;
        color: #fff;
    }

    &__item--first {
        background-image: url(../images/structure/item-bg-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: right right;
    }

    &__item-titlebox {
        display: flex;
        margin-bottom: 41px;
        align-items: center;
    }

    &__item-titlebox--first {
        margin-bottom: 47px;
    }

    &__item-titleimg {
        margin-right: 20px;
    }

    &__item-title {
        font-weight: 800;
        font-size: 28px;    
        line-height: 30px;
        letter-spacing: 0.1px;
    }

    &__item-textbox {
        max-width: 600px; 
    }

    &__item-text {
        margin-bottom: 33px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-number--orange {
        font-weight: 800;
        color: $orange;
    }

    &__item-number--green {
        font-weight: 800;
        color: $green;
    }

    &__item--second {
        background-image: url(../images/structure/item-bg-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: left left;
        padding: 93px 70px 188px 71px;
    }
}

// === /structure ===



// === services ===

.services {
    padding-top: 84px;
    padding-bottom: 79px;
    position: relative;

    &__title {
        @extend %title-style;
        margin-bottom: 56px;
        text-align: center;
    }

    &__img--absolute {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__items {
        display: grid;      
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 47px;
    }

    &__item {
        max-width: 400px;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 35px #EAEAEA;
        border-radius: 0px 0px 0px 35px;
        min-height: 409px;  
        padding-top: 69px;
        padding-right: 45px;
        padding-left: 23px; 
        padding-bottom: 63px;
    }

    &__item--unique {
        border-radius: 0px 35px 0px 0px;
    }

    &__item-icon {
        position: absolute;
        top: -26px;
        left: 20px;
    }

    &__item-title {
        color: $black;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 22px;
    }

    &__item-title--bold {
        font-weight: 800;
    }

    &__item-text {
        color: $grey;
        line-height: 30px;
        letter-spacing: 0.2px;
    }
}

// === /services ===


// === documentation ===

.documentation {
    position: relative;
    padding-top: 154px;
    padding-bottom: 45px;   
    // background-color: #FFFAF2;

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 203px 30px 521px;
        background-color: $green;
        @extend %title-style;
        box-shadow: 0px 0px 35px #F3F3F3;
        border-radius: 0px 0px 35px 0px;
        color: #fff;
    }

    &__subtext-box {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 43px;
    }

    &__subtext {
        line-height: 25px;
        letter-spacing: 0.5px;
        margin-left: 10px;
    }
    
    &__slider {
        margin: 0 auto 24px auto;
    }  

    &__slider-img {
        margin: 0 auto; 
    }

    &__image--absolute {
        position: absolute;
        right: 0;
        bottom: 33%;
        z-index: 0;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text-box {
        max-width: 722px;
    }

    &__text-title {
        @extend %title-style;
        margin-bottom: 75px;
    }

    &__text {
        color: $grey;
        letter-spacing: 0.1px;
        margin-bottom: 44px;
    }

    &__btn {
        display: inline-block;
        color: #fff;
        background-color: $green;
        transition: all .3s;
        padding: 15px 38px;
        border-radius: 30px;

        &:hover {
            background-color: #416E1C; 
        }
    }

    &__images {
        display: flex;
    }

    &__img-box--second {
        margin-top: 86px;
    }
}

.slider__text {
    position: absolute;
    top: 708px;
    left: 0; 
    right: 0; 
    line-height: 40px;
    padding: 10px 43px 10px 43px;
    margin-left: auto; 
    margin-right: auto; 
    width: 387px;
    background-color: $green;
    color: #fff;
    box-shadow: 0px 0px 35px #F3F3F3;
    border-radius: 0px 35px 0px 0px;
}

.slider__progressbar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 417px;
    margin: 0 auto;
    margin-bottom: 164px;
}

.slider__progressbar {
    display: block;
    position: relative;
    width: 320px;
    margin: 0 auto;
    height: 4px;
    border-radius: 10px;
    // overflow: hidden;
    background-color: rgba($color: $green, $alpha: .3);
    background-image: linear-gradient(to right, black, black);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease-in-out;
}

.slider__progressbar-text {
    font-weight: 700;   
    line-height: 25px;  
    letter-spacing: 0.5px;
}

// === /documentation ===


@import 'media';